{% extends "layout.html" %}

{% block title %}
    Stock Current Price Look-up
{% endblock %}

{% block main %}
    <header>
        Query Result
    </header>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ symbol }}</td>
                <td>{{ price }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
